.connection-indicator > .connected,.connection-indicator > .warn,  .connection-indicator > .disconnected { display:none;}
.connection-indicator.connected > .connected { display:inline-block;}
.connection-indicator.warn > .warn { display:inline-block;}
.connection-indicator.disconnected > .disconnected { display:inline-block;}

.connection-indicator {
  text-align: center;
  font-size: 13px;
  line-height: 32px;
}

.connection-indicator .material-icons {
  cursor: pointer;
  font-size: 16px;
  line-height: 32px;
  padding-right: 8px;
  float:left;
}